<h2><%= @restaurant.name %></h2>
City: <p><%= @restaurant.address %></p>
Category:
<p><%= @restaurant.category %></p>

 <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>


<h4>New Review</h4>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
